Django==4.2.3
django-debug-toolbar==4.1.0
django-extensions==3.2.3
easy-thumbnails==2.8.5

Pillow==10.0.0
pip==23.1.2

PyJWT==2.7.0
pyOpenSSL==23.2.0

redis==4.6.0
requests==2.31.0


social-auth-app-django==5.2.0
social-auth-core==4.4.2

Werkzeug==2.3.6